.movie_preview {
  background-color: #111;
  display: flex;
  /* align-items: center; */
  /* margin-left: 20px; */
  padding: 70px 0 20px 20px;
}

.details {
  padding-right: 20px;
}

.movie__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.movie__overview {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.preview__Buttons {
  margin: 1rem 0;
}

.preview__button {
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  padding: 1rem 3rem;
  margin-right: 1rem;
  border-radius: 0.2vw;
  background-color: rgba(51, 51, 51, 0.5);
}

.preview__button:hover {
  color: black;
  background-color: #fff;
  transition: all 0s ease-in-out;
}
