.nav {
  position: fixed;
  top: 0;
  /* padding: 20px; */
  width: 100%;
  /* background-color: #111; */

  z-index: 1;
  display: flex;
  transition-timing-function: ease-in;
  transition: all 0.3s;
}

.navBlackBg {
  background-color: #111;
}

.nav-container {
  width: 100%;
  padding: 1.4rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 30px;
  object-fit: contain;
}

.nav-avatar {
  height: 30px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding: 20px;
  }

  .nav-logo {
    height: 25px;
    object-fit: contain;
  }
}
