.nav {
  position: fixed;
  top: 0;
  /* padding: 20px; */
  width: 100%;
  /* background-color: #111; */

  z-index: 1000;
  display: flex;
  transition-timing-function: ease-in;
  transition: all 0.3s;
}

.nav-avatar {
  border-radius: 50%;
}
.navBlackBg {
  background-color: #111;
}

.nav-container {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 30px;
  object-fit: contain;
}

.nav-avatar {
  height: 30px;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  color: #fff;
  align-items: center;
}

.my__list {
  cursor: pointer;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.sign__in__btn {
  padding: 10px 20px;
  background: red;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav-container {
    padding: 20px;
  }

  .nav-logo {
    height: 25px;
    object-fit: contain;
  }
}
