* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.app {
  background-color: #111;
}

.row-container {
  position: relative;
  top: -200px;
}

@media screen and (max-width: 768px) {
  .row-container {
    top: -150px;
  }
}
